/**
 * Ionic Dark Theme
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-modal.custom-edit-modal {
  --border-radius: 18px;
  --background: #1e1c27;
  --box-shadow: 0 12px 32px rgba(0, 0, 0, 0.6);

  /* Fuerza el redondeo del contenedor nativo de Ionic */
  &::part(content) {
    border-radius: 18px;
    border: 1px solid #353141;
    overflow: hidden;
  }
}

ion-modal.custom-task-modal {
  --width: 90%;
  --max-width: 520px;
  --height: 560px; /* 👈 Cambiamos 'auto' por una altura concreta */
  --border-radius: 16px;
  --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}