<div class="modal-container">
  
  <div class="modal-toolbar">
    <div class="modal-title">
      <i class="hn hn-file-text"></i>
      <span>Detalle de la Tarea</span>
    </div>
    <button type="button" class="close-btn" (click)="cancel()" [disabled]="isClaiming()">
      <i class="hn hn-times"></i>
    </button>
  </div>

  <div class="modal-body">
    <div class="task-details-view">
      
      <div class="form-group">
        <h2 class="task-title-heading">{{ task.title }}</h2>
         <!-- //REVISAR ES VD QUE NO GUARDAMOS EL NOMBRE LA ORGANIZACIÓN ! -->
        
        <p class="org-subtext">Publicado por <strong>{{'Organización' }}</strong></p>
      </div>

      <div class="form-row ion-margin-top">
        <div class="form-group half-width">
          <label class="form-label"><i class="hn hn-clock"></i> Tiempo estimado</label>
          <p class="detail-value">{{ task.estimatedTime || 'No especificado' }}</p>
        </div>

        <div class="form-group half-width">
          <label class="form-label"><i class="hn hn-calendar"></i> Fecha límite</label>
          <p class="detail-value">{{ task.deadline | date:'dd/MM/yyyy' }}</p>
        </div>
      </div>

      <div class="form-group ion-margin-top">
        <label class="form-label"><i class="hn hn-align-left"></i> Descripción</label>
        <p class="detail-description">{{ task.description || 'Sin descripción detallada.' }}</p>
      </div>

      <!-- Acciones del Voluntario -->
      <div class="modal-actions ion-margin-top">
        <button type="button" class="btn-secondary" (click)="cancel()" [disabled]="isClaiming()">
          Cerrar
        </button>

        @if (task.status === 'Activa') {
          <button type="button" class="btn-primary" (click)="claimTask()" [disabled]="isClaiming()">
            @if (isClaiming()) {
              <ion-spinner name="crescent"></ion-spinner>
            } @else {
              <span>Quiero Colaborar</span>
            }
          </button>
        }
      </div>

    </div>
  </div>

</div>