

<ion-content class="cozy-star-grid ion-padding-horizontal">
  <div class="css-masonry-container">

    <!-- bucle para renderizar cada tarjeta del feed en formato masonry -->
    <div *ngFor="let item of feedItems; let i = index" 
         class="masonry-item" 
         [style.animation-delay]="i * 0.1 + 's'"> 
      
      <div class="card-wrapper" (click)="goToNews(item)">
        
        <!-- pegatina decorativa flotante sobre la tarjeta -->
        <div class="card-sticker" *ngIf="item.sticker" [ngClass]="[item.stickerColor, item.tiltClass]">
          <i [ngClass]="item.sticker"></i>
        </div>
          
        <!-- contenedor principal de la tarjeta -->
        <ion-card class="cozy-card dashboard-card" [ngClass]="[item.bgClass]">
          <img *ngIf="item.image" [src]="item.image" class="card-cover-image" alt="Card Cover Image" />
          <ion-card-header>
            <ion-card-title class="card-headline">{{ item.title }}</ion-card-title>
          </ion-card-header>
          
          <ion-card-content class="card-body">
            <p>{{ item.description }}</p>
            <div class="fake-search-input" *ngIf="item.hasInput">
              <span class="input-placeholder-text">{{ item.inputPlaceholder }}</span>
              <i class="hn hn-arrow-right input-icon-right" aria-hidden="true"></i>
            </div>
          </ion-card-content>
        </ion-card>
        
      </div>
    </div>
  </div>
  <div class="footers-wrapper ion-margin-top">
    <app-footer></app-footer>
  </div>
</ion-content>